<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.library.controller.authorization.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.library.controller.authorization.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexPageController</servlet-name>
        <servlet-class>com.library.controller.mainpage.MainPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexPageController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ArchivePageController</servlet-name>
        <servlet-class>com.library.controller.innerpages.ArchivePageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ArchivePageController</servlet-name>
        <url-pattern>/ArchivePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.library.controller.authorization.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BBCArchivePageController</servlet-name>
        <servlet-class>com.library.controller.mainpage.MainPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BBCArchivePageController</servlet-name>
        <url-pattern>/BBCArchivePageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BooksUploadController</servlet-name>
        <servlet-class>com.library.controller.upload.BooksUploadController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BooksUploadController</servlet-name>
        <url-pattern>/BooksUploadController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadBookControlelr</servlet-name>
        <servlet-class>com.library.controller.upload.DownloadBookController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadBookControlelr</servlet-name>
        <url-pattern>/DownloadBookControlelr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AvailiableBooksController</servlet-name>
        <servlet-class>com.library.controller.mainpage.AvailiableBooksController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AvailiableBooksController</servlet-name>
        <url-pattern>/AvailiableBooksController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BookPropertiesController</servlet-name>
        <servlet-class>com.library.controller.upload.BookPropertiesController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BookPropertiesController</servlet-name>
        <url-pattern>/BookPropertiesController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadPageController</servlet-name>
        <servlet-class>com.library.controller.mainpage.DownloadPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadPageController</servlet-name>
        <url-pattern>/DownloadPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadPageController</servlet-name>
        <servlet-class>com.library.controller.mainpage.UploadPageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadPageController</servlet-name>
        <url-pattern>/UploadPageController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BooksDownloadController</servlet-name>
        <servlet-class>com.library.controller.upload.BooksDownloadController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BooksDownloadController</servlet-name>
        <url-pattern>/BooksDownloadController</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
</servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            D:\uploads\
        </param-value>
    </context-param>

</web-app>